body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 13px
  font-weight: normal
  line-height: 18px
  color: #404040
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  li
    border-bottom: 1px solid #E0E0E0
    font-size: 20px
    font-weight: bold
    list-style: none
    margin: 0
    padding: 8px 0 8px 10px