body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
  margin: 0;
  padding: 0;
  background-color: #e2e7ed; }

#wrapper {
  width: 100%; }

#pull_to_refresh {
  line-height: 60px;
  height: 60px;
  text-align: center;
  background-color: #e2e7ed;
  width: 100%;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #e0e0e0;
  color: #788193;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-size: 23px 53px;
  background-position: 20px 0;
  text-shadow: 0px 1px white;
  z-index: 0;
  -webkit-box-shadow: inset 0px -8px 4px -3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -8px 4px -3px rgba(0, 0, 0, 0.12); }
  #pull_to_refresh.visible {
    background-image: url(../images/arrow_up.png);
    background-size: 23px 53px;
    background-position: 20px 0; }
  #pull_to_refresh.refresh {
    background-image: url(../images/spinner.gif);
    background-size: 16px 16px;
    background-position: 20px center; }

ul {
  z-index: 200;
  margin: 0;
  padding: 0;
  background-color: white; }
  ul li {
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 8px 0 8px 10px; }
